@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 24px;
}

:root {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cor-A: rgba(26, 32, 38, 1);
  --cor-B: rgba(142, 85, 114, 1);
  --cor-B-hover: rgba(142, 85, 115, 0.808);
  --cor-C: rgba(242, 247, 242, 1);
  --cor-D: rgba(136, 102, 93, 1);
  --cor-E: rgba(247, 179, 43, 1);

}
body {
  background-color: var(--cor-A);
  /*color: #fff;*/
  color: var(--cor-C);
}
